{
    "parser": "babel-eslint",
    "plugins": [
      "react"
    ],
    "globals": {
      "DingTalkPC": false,
      "dd": false,
      "window": true,
      "location": true,
      "localStorage": true,
      "$": true,
      "__LOCAL__": false,
      "_": true,
      "util": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "env": {
      "browser": true,
      "amd": true,
      "es6": true,
      "node": true,
      "mocha": true
    },
    "rules": {
      // "comma-dangle": 1,
      // "quotes": [ 1, "single" ],
      "no-undef": 1,
      "global-strict": 0,
      "no-extra-semi": 1,
      "no-underscore-dangle": 0, // 禁止标识符中有悬空下划线_bar
      "no-console": 0, // 禁用 console
      // "no-unused-vars": 1,
      // "no-trailing-spaces": [1, { "skipBlankLines": true }],
      "no-unreachable": 1,
      "no-alert": 0,
      "react/jsx-uses-react": 1,
      "react/jsx-uses-vars": 1
    }
}
  