.header {
  display: block;
  height: 60px;
  background: #fff;
  display: flex;
  box-shadow: 0 0 2px 1px #999;
  margin-bottom: 10px;

  .header-left {
    flex: 1;

    img {
      height: 42px;
      margin: 9px 10px;
    }
  }

  .ant-avatar {
    margin: 10px 10px;
  }
}

.ant-modal-content-user {
  .userName {
    margin-bottom: 10px;
  }
}

