body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#App, .main {
  height: 100%;
}

.main {
  flex-direction: column;
  display: flex;
}

.content {
  flex: 1;
  display: flex;
}

.main-content {
  flex: 1;
}
